xm_xs/clasi.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clasificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="equipo" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:byte" name="partidos_jugados"/>
              <xs:element type="xs:byte" name="victorias"/>
              <xs:element type="xs:byte" name="derrotas"/>
              <xs:element type="xs:byte" name="empates"/>
              <xs:element type="xs:string" name="locales"/>
              <xs:element type="xs:string" name="visitantes"/>
              <xs:element type="xs:byte" name="puntos_perdidos"/>
              <xs:element type="xs:byte" name="puntos_concedidos"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>